.home_container {
    padding: 3vh 2vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .arduinoData_title {
        font-size: 1.7rem;
        font-weight: 500;
    }
}

.arduinoData_container {
    border: solid white 1.5px;
    border-radius: 25px;
    padding: 2.5vh 3vw;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

    ion-button {
        font-size: large;
        font-weight: 600;
    }
}

.arduinoData_content {
    p { 
        font-size: 1.2rem;
    }
    span {
        font-size: 1.1rem;
        color: lightgray;
    }
}